In [1]:
# Name: Kar Chun Kan
# Assignment: 1
# Course code: AIDI-1100-02
# Submission Date: 24/02/2022
# Description of the program: calculate annual salary of five employees and print a pay stub

In [2]:
# import libraries
from datetime import datetime
from random import randrange

Deductible class for calcualte taxes and benefits

In [3]:
class Deductible:
    # default taxes rate is 0.155 and benefits rate is 0.065
    def __init__(self, taxes_rate = 0.155, benefits_rate = 0.065):
        self.taxes_rate = taxes_rate
        self.benefits_rate = benefits_rate

    # calculate deductibles by adding taxes and benefits
    def cal_deductibles(self, employee):
        return self.cal_Taxes(employee) + self.cal_Benefits(employee)

    # calcualte taxes by employee's income
    def cal_Taxes(self, employee):
        return employee.cal_gross_annual_income() * self.taxes_rate

    # calculate benefits by employee's income
    def cal_Benefits(self, employee):
        return employee.cal_gross_annual_income() * self.benefits_rate

    # print employee's deductible
    def print_deductible(self, employee):
        print(f"Deductibles: ${round(self.cal_deductibles(employee), 2)}\n"
              f"Deductible(Taxes): ${round(self.cal_Taxes(employee), 2)}\n"
              f"Deductible(Benefits): ${round(self.cal_Benefits(employee), 2)}")

Company class and Employee class

Employee class extended Company because employee belongs to company

In [4]:
class Company:
    # define company name
    def __init__(self, name):
        self.company_name = name

    def get_company_name(self):
        return self.company_name

    # print company name
    def print_company(self):
        print(f"Company name: {self.company_name}")


class Employee(Company):
    # set employee attributes, reuqire company object because employee belongs to company
    def __init__(self, company, id, name, position, annual_salary):
        super(Employee, self).__init__(company.company_name)
        self.id = id
        self.name = name
        self.position = position
        self.annual_salary = annual_salary

    # calcualte employee's bonus by annual salary
    def cal_bonus(self):
        bonus = 0
        if self.annual_salary <= 25000:
            bonus += self.annual_salary * 0.105
        elif 25000 < self.annual_salary <= 50000:
            bonus += self.annual_salary * 0.115
        elif self.annual_salary > 55000:
            bonus += self.annual_salary * 0.125
        else:
            bonus = 0
        return bonus

    # calcualte gross annual income by annual salary and bonus
    def cal_gross_annual_income(self):
        return self.annual_salary + self.cal_bonus()

    # calcualte net annual income by gross annual income and deductibles
    def cal_net_annual_income(self):
        self.deductibles = deductible.cal_deductibles(self)
        self.deductible_taxes = deductible.cal_Taxes(self)
        self.deductible_benefits = deductible.cal_Benefits(self)
        self.net_annual_income = self.cal_gross_annual_income() - self.deductibles
        return self.net_annual_income
      
    # print employee's details
    def print_employee(self):
        print(f"ID: {self.id}\n"
              f"Employee: {self.name}\n"
              f"Position: {self.position}\n"
              f"Salary: ${self.annual_salary}\n"
              f"Bonus: ${round(self.cal_bonus(), 2)}\n"
              f"Gross Annual Income: ${round(self.cal_gross_annual_income(), 2)}")

    # print employee's net annual income
    def print_net_annual_income(self):
        print(f"Net Annual Income: ${round(self.cal_net_annual_income(), 2)}")

PayStub class

PayStub is standalone, it does not belongs to company or employee because they have no relationship.

In [5]:
class PayStub:
    # define paystub date
    def __init__(self, date):
        self.date = date

    # print list of employees details
    def print_pay_stub(self, employees):
        for employee in employees:
            employee.print_company()
            print(f"Date of Pay-Stub: {self.date}")
            employee.print_employee()
            deductible.print_deductible(employee)
            employee.print_net_annual_income()
            print("===============================")

Main function to display five employees details

In [6]:
# global variable
deductible = Deductible()
employees = []

# main function
def main():
  # set first name and last name to display full name
  first_names = ["Rebecca", "Kerry", "Francis", "John", "Soledad"]
  last_names = ["Puglia", "Morgan", "Warren", "Adams", "Stahlberg"]
  # set company's postitions
  positions = ["Manager", "Developer", "QA", "Data Analysis", "Potato"]
  # format today's date to yyyy-mm-dd
  today = datetime.today().strftime('%Y-%m-%d')
  # setup company by its name
  company = Company("Durham")

  # loop 5 times to generate employee
  for id in range(1,6):
    # generate full name by randoming of first name and last name
    full_name = f"{first_names[randrange(5)]} {last_names[randrange(5)]}"
    # generate employee by randome name, randome position, and randome annual salary
    employee = Employee(company, id, full_name, positions[randrange(5)], randrange(10000,70000))
    # append generated employee to a list
    employees.append(employee)
  
  # put all employee to paystub and print their details
  payStub = PayStub(today)
  payStub.print_pay_stub(employees)

# call main function
main()

Company name: Durham
Date of Pay-Stub: 2022-02-25
ID: 1
Employee: John Stahlberg
Position: Potato
Salary: $38741
Bonus: $4455.22
Gross Annual Income: $43196.21
Deductibles: $9503.17
Deductible(Taxes): $6695.41
Deductible(Benefits): $2807.75
Net Annual Income: $33693.05
===============================
Company name: Durham
Date of Pay-Stub: 2022-02-25
ID: 2
Employee: Rebecca Adams
Position: QA
Salary: $19885
Bonus: $2087.92
Gross Annual Income: $21972.92
Deductibles: $4834.04
Deductible(Taxes): $3405.8
Deductible(Benefits): $1428.24
Net Annual Income: $17138.88
===============================
Company name: Durham
Date of Pay-Stub: 2022-02-25
ID: 3
Employee: Soledad Morgan
Position: Data Analysis
Salary: $61314
Bonus: $7664.25
Gross Annual Income: $68978.25
Deductibles: $15175.22
Deductible(Taxes): $10691.63
Deductible(Benefits): $4483.59
Net Annual Income: $53803.04
===============================
Company name: Durham
Date of Pay-Stub: 2022-02-25
ID: 4
Employee: Soledad Morgan
Position: Developer
Salary: $44916
Bonus: $5165.34
Gross Annual Income: $50081.34
Deductibles: $11017.89
Deductible(Taxes): $7762.61
Deductible(Benefits): $3255.29
Net Annual Income: $39063.45
===============================
Company name: Durham
Date of Pay-Stub: 2022-02-25
ID: 5
Employee: Rebecca Adams
Position: Manager
Salary: $67154
Bonus: $8394.25
Gross Annual Income: $75548.25
Deductibles: $16620.62
Deductible(Taxes): $11709.98
Deductible(Benefits): $4910.64
Net Annual Income: $58927.63
===============================

Put employees to DataFrame

we can easy to use the data after put them to dataframe

In [7]:
# print ALL variable in employee class
for employee in employees:
  print(vars(employee))

{'company_name': 'Durham', 'id': 1, 'name': 'John Stahlberg', 'position': 'Potato', 'annual_salary': 38741, 'deductibles': 9503.1673, 'deductible_taxes': 6695.4133249999995, 'deductible_benefits': 2807.753975, 'net_annual_income': 33693.047699999996}
{'company_name': 'Durham', 'id': 2, 'name': 'Rebecca Adams', 'position': 'QA', 'annual_salary': 19885, 'deductibles': 4834.0435, 'deductible_taxes': 3405.803375, 'deductible_benefits': 1428.240125, 'net_annual_income': 17138.8815}
{'company_name': 'Durham', 'id': 3, 'name': 'Soledad Morgan', 'position': 'Data Analysis', 'annual_salary': 61314, 'deductibles': 15175.215, 'deductible_taxes': 10691.62875, 'deductible_benefits': 4483.58625, 'net_annual_income': 53803.035}
{'company_name': 'Durham', 'id': 4, 'name': 'Soledad Morgan', 'position': 'Developer', 'annual_salary': 44916, 'deductibles': 11017.8948, 'deductible_taxes': 7762.6077, 'deductible_benefits': 3255.2871, 'net_annual_income': 39063.445199999995}
{'company_name': 'Durham', 'id': 5, 'name': 'Rebecca Adams', 'position': 'Manager', 'annual_salary': 67154, 'deductibles': 16620.615, 'deductible_taxes': 11709.97875, 'deductible_benefits': 4910.6362500000005, 'net_annual_income': 58927.634999999995}

In [8]:
# import pandas library for dataframe
import pandas as pd
# loop ALL variable in employee class, put the variable names and values into dataframe
df = pd.DataFrame([vars(e) for e in employees])

In [9]:
# print dataframe
df

  company_name  id  ... deductible_benefits net_annual_income
0       Durham   1  ...         2807.753975        33693.0477
1       Durham   2  ...         1428.240125        17138.8815
2       Durham   3  ...         4483.586250        53803.0350
3       Durham   4  ...         3255.287100        39063.4452
4       Durham   5  ...         4910.636250        58927.6350

[5 rows x 9 columns]